body {
    background: linear-gradient(-45deg, #ee5252, #d8457d, #159bcb, #2dc4a0);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    text-align: center;
    line-height: 3em;
    color: rgb(27, 26, 26);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
fieldset{
    margin-left: 20em;
    margin-right: 20em;
    border: 2px solid white;
    margin-top: 2em;
}
#totale{
    text-transform: uppercase;
    margin-left: 20em;
    margin-right: 20em;
    border: 2px solid white;
    margin-top: 0.5em;
}

 